body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3{
  color: #5d2c72;
  
}
td{
  padding-inline: .5rem;
}
 h1{
  /* background:linear-gradient(126deg, #b11705 8%, #632969 82%); */
  font-size: 52px;
  background: -webkit-linear-gradient(126deg, #b11705 8%, #632969 82%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #f8dcf1; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Collapsible__trigger is-open > svg{
  display: none;
}